.datatable-items {
  margin-left: 10em;
  margin-right: 10em;
}
.bhoXfZ {
  margin-top: 4em;
  border-top-style: none;
  margin: 0% 2% 0% 2%;
  margin-left: -50em;
}
.sc-iJKOTD bhoXfZ rdt_Pagination {
  margin-left: -50em;
  margin-top: 4em;
}
